.home-container {
    display: flex;
    min-height: calc(100vh - 80px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4vw auto;
    padding: 2rem;
    text-align: center;
}

.series-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    min-height: 50vh;
}

.pagination {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    list-style: none;
}

.page-item {
    display: inline-block;
}

.page-link {
    border: none !important;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 14px;
    color: white;
    background-color: #533483;
    transition: background 0.3s ease-in-out, box-shadow 0.2s ease-in-out;

}

.page-link:hover, .prev-button a:hover, .next-button a:hover  {
    background-color: #E94560;
    box-shadow: 0px 0px 8px #E94560;
    color: white;
    border: none !important;
}


.active-page a,
.active-page .page-link {
    background-color: #E94560 !important;
    box-shadow: 0px 0px 12px #E94560 !important;
    color: white !important;
    font-weight: bold;
    border: none !important;
}

.prev-button a, .next-button a {
    font-size: 18px;
    padding: 8px 10px;
    background-color: #533483;
    border-radius: 6px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled a {
    opacity: 0.4;
    pointer-events: none;
}

.dots {
    color: #aaa;
    font-size: 14px;
    background: none !important;
    border: none !important;
    padding: 0;
    cursor: default;
}

.home-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.highlight {
    color: #a472f1;
}


@media (max-width: 1024px) {
    .home-container {
        max-width: 95vw;
        padding: 1.5rem;
    }

    .home-title {
        margin-top: 7rem;
    }
    .series-grid {
        gap: 1rem;
        max-width: 100%;
    }

    .pagination {
        gap: 1rem;
    }
}
